:root {
	--line-thickness: 2px;
	--line-curve: 1rem;
	--line-color: #444;
}

body {
	margin: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tableCell.selectedCell {
	cursor: pointer;
}

.mainPage {
	height: fit-content;
	width: fit-content;
}

.mainPage > * {
	margin: 1rem 0;
}

.filterBar {
	position: relative;
	border: 1px solid black;
	line-height: 2rem;
	padding: 0.5rem;
	align-items: center;
	z-index: 1;
}

.filterBar > * {
	margin: 0 0.5rem;
	display: flex;
	align-items: center;
}

.dropdownOptionContainer {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
	transition: 1s;
}

.dropdownOptionContainer::-webkit-scrollbar {
	width: 0px; /* For Chrome, Safari, and Opera */
}

/* TABLE */

.table {
	border-collapse: separate;
	width: auto;
	position: relative;
	z-index: 0;
}

.table > * {
	width: 'auto';
	flex-direction: row;
}

.cell {
	width: 7rem;
	padding: 1rem;
	margin: 0;
	border-top: var(--line-thickness) solid var(--line-color);
	border-left: var(--line-thickness) solid var(--line-color);
	background-color: #fff;
	text-align: center;
}

table > * > * > *:last-child {
	border-right: var(--line-thickness) solid var(--line-color);
}

table > *:last-child > tr:last-child > * {
	border-bottom: var(--line-thickness) solid var(--line-color);
}

.taskCell {
	width: 15rem;
	text-align: left;
}

.selectedCell {
	width: 1rem;
}

.headingCell.selectedCell {
	cursor: auto;
}

.tableCell.completedCell {
	cursor: pointer;
	user-select: none;
}

/* TABLE CURVED CORNERS */

table > *:first-child > tr:first-child > *:first-child {
	border-top-left-radius: var(--line-curve);
}

table > *:first-child > tr:first-child > *:last-child {
	border-top-right-radius: var(--line-curve);
}

table > *:last-child > tr:last-child > *:first-child {
	border-bottom-left-radius: var(--line-curve);
}

table > *:last-child > tr:last-child > *:last-child {
	border-bottom-right-radius: var(--line-curve);
}
