@keyframes float {
	from {
		margin-top: 0;
	}

	to {
		margin-top: 0;
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(4) skew(45deg);
	}
	25% {
		transform: rotate(90deg) scale(4) skew(45deg);
	}
	50% {
		transform: rotate(180deg) scale(4) skew(45deg);
	}
	100% {
		transform: rotate(270deg) scale(4) skew(45deg);
	}
}
