@keyframes button-error-shake {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes dropdown-bg-rotate {
    0% {
        transform: rotate(0deg) scale(2) skew(0);
    }
    50% {
        transform: rotate(180deg) scale(8) skew(45deg);
    }
    100% {
        transform: rotate(360deg) scale(2) skew(0);
    }
}
