body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table > * {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 5rem;
  padding: 1rem;
  border: 1px solid black;
}

.mainPage > * {
  margin: 1rem 0;
}

.filterBar {
  height: 2rem;
  width: 40rem;
  border: 1px solid black;
  line-height: 2rem;
  padding: 0.5rem;
}
